/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Poppins:wght@300&family=Raleway:wght@500;600;700&family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --color-one: #fff;
    --color-two: #0a0a0a;
    --color-three: #9d946b;
    --color-four: #F6F6F6;
    --color-five: #427cba;
    --color-six: #E7E7E7;
    --color-seven: #001a28;
    --color-eight: #16507B;
    --color-nine: #919191;
    --color-ten: rgb(243, 242, 240);
    --color-eleven: #ccc295;
    --color-twelve: #7d7d7d;


    --font-system-ui: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-sans-raleway: "Raleway", sans-serif; 

}

* {
    /* font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    
    /* font-family: 'Roboto', sans-serif; */
}

*::selection {
    background-color: var(--color-three);
    color: var(--color-one);
}

/* ANIMATION */
.zoom-in-out-icon {
    animation: zoom-in-zoom-out 3s ease infinite;
    color: var(--color-five) !important;
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }


.short-line {
    background-color: var(--color-three);
    width: 3.5rem;
    height: 1.2px;
    margin: 1.5rem 0rem;
}

/* BUTTON */
#button-one {
    text-decoration: none;
    color: var(--color-two);
    background-color: var(--color-one);
    font-size: 0.75rem;
    letter-spacing: 0.08rem;
    border-radius: 10px;
    padding: 0.7rem 1.4rem;
    margin: 1.2rem 1.2rem 0rem 0rem;
    transition: all 0.3s;
}

#button-one,
#button-five {
    text-decoration: none;
    color: var(--color-two);
    background-color: var(--color-one);
    font-size: 0.75rem;
    letter-spacing: 0.08rem;
    border-radius: 10px;
    padding: 0.7rem 1.5rem;
    margin: 1rem 1.2rem 0rem 0rem;
    transition: all 0.3s;
}

#button-one:hover,
#button-four:hover,
#button-five:hover {
    background-color: var(--color-three);
    color: var(--color-one);
}

#button-four {
    text-decoration: none;
    color: var(--color-two);
    background-color: var(--color-one);
    font-size: 0.75rem;
    letter-spacing: 0.08rem;
    border-radius: 10px;
    padding: 1rem 1.7rem;
    transition: all 0.3s;
    border: 2px solid #d9d9d9;
    border-top: none;
    border-left: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

#button-four:hover {
    background-color: var(--color-three);
    color: var(--color-one);
}

#button-five {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
}

/* FLEXBOX */
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row !important;
}

.flex-20 {
    flex: 0 0 20% !important;
    max-width: 20% !important;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* TEXT SIZE */
.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.bigger-text {
    font-size: 1.1rem;
}

.smaller-text {
    font-size: 0.9rem;
}

.tiny-text {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

/* POSITION */
.horizontal-center {
    margin-left: auto;
    margin-right: auto;
}

/* SELECT */
.restyle-select {
    border: none;
    font-size: 0.85rem;
    display: block;
    margin-left: -0.2rem;
    margin-bottom: 0.4rem;
    margin-top: 0.3rem;
    cursor: pointer;
}

.goog-te-gadget .goog-te-combo {
    border: none;
    margin: 0 !important;
}

#google_translate_element span {
    display: none;
}

.goog-logo-link {
    display:none !important;
} 
    
.goog-te-gadget{
    color: transparent !important;
}

#google_translate_element { 
    height: 15px !important;
    overflow: hidden !important; 
}

/* HOVER EFFECTS */

.hover-style-1 {
    text-align: left !important;
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-five);
    font-weight: bold;
    box-shadow: inset 0 0 0 0 var(--color-five);
    margin: 0 0rem;
    padding: 0 0rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: 15px;
    padding: 0.5rem;
    padding-left: 1rem;
    cursor: pointer;
}

.hover-style-1:hover {
    box-shadow: inset 10rem 0 0 0 var(--color-five);
    color: white !important;
    border-radius: 15px !important;
    padding: 0.5rem;
    padding-left: 1rem;
    cursor: pointer;
}

.darken-layer {
    display: none;
    position: absolute;
    background-color: #000;
    opacity: 0.4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30;
}

.margin-none {
    margin: 0 !important;
}

/* iframe */
iframe {
    height: 30rem;
    width: 100vw;
}
/* <input type="checkbox" id="toggle"> */

/* .gradient-custom {
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));    
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
} */

button .fa-user {
    color: var(--color-three);
    position: fixed;
    top: 13%;
    right: 0px;
    z-index: 99;
    font-size: 20px;
    background-color: #000;
    padding: 14px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    transition: all .5s;
}

button .fa-user:hover {
    transform: scale(1.1);
}

.gradient-custom .card-body {
    height: 33rem;
}

.gradient-custom .form-control {
    font-size: 1.1rem;
    background-color: var(--color-three);
    border: none;
    transition: all 0.4s;
}

.gradient-custom .form-outline {
    margin-bottom: 0 !important;
}

.gradient-custom .small {
    margin-top: 1.5rem;
    margin-bottom: 2rem !important;
}

.gradient-custom .card-body {
    padding: 1.5rem 4rem !important;
}

.gradient-custom .btn {
    padding: 0.3rem 2rem !important;
    font-size: 1rem;
}

.gradient-custom .btn:hover {
    background-color: var(--color-three);
    color: var(--color-one);
    border: none;
}

.gradient-custom .mb-md-5 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 1.2rem !important;
}

.gradient-custom a:hover {
    color: var(--color-three) !important;
}

.gradient-custom .mb-0, .gradient-custom .fw-bold {
    font-size: 0.9rem;
}

.gradient-custom .text-uppercase {
    font-size: 1.4rem;
    color: var(--color-three);
}

.gradient-custom {
    position: fixed;
    top: 3%;
    left: 0;
    right: 0;
    z-index: 77;
    display: none;
}

.gradient-custom .card-body {
    transition: all 2s !important;
    box-shadow: 0px 4px 8px 0px #1c1c1c;
    border-radius: 20px;
}

.gradient-custom h2 {
    margin-top: 1rem;
}

.gradient-custom .text-white-50 {
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.active {
    transition: all 2s !important;
    display: block;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:  #f3f3f399  !important;
    /* opacity: 1; Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f3f3f399 !important;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color:  #f3f3f399  !important;
}