/*  NAVIGATION BAR  */
header{
    position: fixed;
    width: 100%;
    z-index: 99;
}
nav .container{
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0;
}

nav .row {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
}

nav{
    background-color: #000;
    display: flex;
    /* justify-content: space-between; */
    height: 4rem;
    width: 100vw;
    line-height: 3rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
} 


nav .navbar-brand{
    color: var(--color-three);
    letter-spacing: .6px;
    font-weight: 700;
}

nav .navbar-brand:hover{
    color: #816e14;

}

nav .nav-list{
    /* display: flex;
    flex-wrap: nowrap;
    margin-left: 20rem; */
    height: 100%; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    margin-left: auto;
    margin-right: auto;    
}

nav .nav-list .nav-item{
    list-style-type: none;
    cursor: pointer;
    height: 100%;
    transition: all 0.3s;
    padding: 0;
}
nav .nav-list .nav-item:hover{
    background-color: #9d946b;
}

nav .nav-list .nav-item .nav-link{
    color: #9d946b;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.4s;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

nav .nav-list .nav-item .nav-link:hover{
    color: white;
}

/*cccccccccccccccccccc*/
.box {
    max-width: 400px;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0rem;
}

.box .search-box {
    position: relative;
    height: 100%;
    max-width: 40px;
    margin: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all 0.5s ease;
}

#check:checked ~ .search-box {
    max-width: 300px;
}
input{
    display: none;
} 

.search-box input {
    display: flex;
   position: absolute;
   height: 100%;
   width: 100%;
   background: #020202;
   outline: none;
   border: none;
   padding-left: 15px;
   font-size: 0.85rem;
   transition: all 0.5s;
}

.search-box input:focus {
    background-color: #1e1e1e;
    color: #d7d7d7;
}

.search-box .icon {
    position: absolute;
    right: -2px;
    top: 0;
    width: 70px;
    background: var(--color-two);
    border-left: 2px solid #9d946b32;
    border-right: 2px solid #9d946b32;
    opacity: 1;
    height: 100%;
    text-align: center;
    line-height: 60px;
    color: var(--color-three);
    font-size: 20px;
    transition: all 0.3s;
}

.search-box .icon:hover {
    background-color: #3b3d2b;
}

#check:checked ~ .search-box .icon {
    background-color: var(--color-three);
    color: #FFF;
    width: 70px;
    transition: all 1s;
}

#check {
    display: none;
}


/* RESPONSIVE */
@media (max-width:1200px){
    .box {
        max-width: 250px;
        position: relative;
        top: 0rem;
    }

    nav .nav-list .nav-item{
        padding: 0 0.5rem;
    }

    nav .nav-list .nav-item .nav-link{
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}
@media (max-width:992px){

    .box {
        max-width: 280px;
        margin-right: 4rem;
    }
    nav .row {
        justify-content: center;
    }
    nav .navbar-brand {
        margin-right: 4rem;
    }

    nav .nav-list{
        display: grid;
        position: absolute;
        background-color: #efefef;
        width: 100%;
        left: 0;
        top: 3rem;
        z-index: -1;
        transform: translateY(-100%);
        padding: 0;
        margin-left: 0;
        margin-top: 1rem;
        text-align: center;
        height: 400%;
    }
    nav .nav-list .nav-item:hover{
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    }

    nav .navbar-toggle{
        display: grid !important;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width:768px){

    nav .row {
        justify-content: flex-start;
    }
    nav .navbar-brand {
        font-size: 1.2rem;
        margin-right: 2rem;
    }

    nav .navbar-toggle{
        margin-left: 0;
        padding-left: 0;
    }

    nav .search-box input {
        margin-right: 0;
        padding-right: 0 ;
    }
}

@media (max-width: 576px) {
    nav .box {
        display: none;
    }
    nav .row {
        justify-content: space-between;
    }

}

nav .navbar-toggle{
    display: none;
    cursor: pointer;
    height: min-content;
    margin-top: 1.5rem;
    align-items: center;
}

nav .navbar-toggle .bar{
    width: 25px;
    height: 3px;
    background: #9d946b;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: .4s;
}

input{
    display: none;
} 

input:checked ~ nav .nav-list{
    transform: translateY(0);
}

input:checked ~ nav .navbar-toggle .bar:nth-child(1){
    position: absolute;
    transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggle .bar:nth-child(3){
    position: absolute;
    transform: rotate(-45deg);
}

/*  END NAVIGATION BAR  */



/*  SECTION 1  */
.section-one {
    position: relative;
    background-image: url(https://drive.google.com/uc?export=view&id=1dNj_kKo8fpo4ZEL41yi5KFY__kYmqCEd);
    /* background-image: url(/Web/assets/image/annam_auto_x2.jpg); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44rem;
    width: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-one .content-wrapper {
    padding-left: 2rem;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: var(--color-one);
    max-width: 23rem;
    margin-top: 3.5rem;
}

.section-one .content-wrapper h1 {
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
}

.section-one .content-wrapper span {
    display: flex;
    font-size: 0.9rem;
    letter-spacing: 0.08rem;
    max-width: 18rem;
    margin: 1rem 0rem;
}

.section-one .button-wrapper {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: row;
}

.section-one .box-wrapper {
    position: absolute;
    background-color: var(--color-one);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -6.5vh;
    border-radius: 15px;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 20%);
    max-width: 80%;
    overflow: hidden;
    padding: 0.5rem 0rem;
}

.section-one .recolor-text {
    color: var(--color-three);
}

.section-one .box-wrapper a,
.section-one .box-wrapper .language {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-two);
}

.section-one .box-wrapper .fa-location-dot {
    color: var(--color-six);
    display: flex;
    align-self: center;
    font-size: 1.8rem;
    margin-left: 1.5rem;
    transition: all 0.5s;
}

.section-one .box-wrapper .address:hover i {
    cursor: pointer;
    color: var(--color-five);
}

.section-one .box-wrapper .inner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.section-one .box-wrapper .inner-text p {
    margin: 0;
    padding: 0;
}

.section-one .box-wrapper .fa-calendar-days {
    display: flex;
    align-self: center;
    justify-self: center;
    margin-left: 1.5rem;
    font-size: 2rem;
    color: var(--color-six);
    transition: all 0.5s;
}

.section-one .box-wrapper .date-link:hover .fa-calendar-days {
    color: var(--color-five);
}

.section-one .box-wrapper .inner-wrap .date {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.95rem;
    text-align: left;
    color: var(--color-two);
}

.section-one .box-wrapper .language .fa-globe {
    display: flex;
    align-self: center;
    margin-left: 1.2rem;
    color: var(--color-six);
    font-size: 1.8rem;
    transition: all 0.5s;
}

.section-one .box-wrapper .language:hover .fa-globe {
    color: var(--color-five);
}

.section-one .box-wrapper .smaller-text {
    margin-bottom: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.section-one .box-wrapper .rating p {
    color: var(--color-two);
}

.section-one .box-wrapper .fa-star {
    display: flex;
    align-self: center;
    margin-left: 1.5rem;
    font-size: 1.8rem;
    color: var(--color-six);
    transition: all 0.5s;
}

.section-one .box-wrapper .rating:hover .fa-star {
    color: var(--color-five);
}

/*  Responsive  */
@media (max-width: 1200px) {
    .section-one .box-wrapper {
        bottom: -3rem;
        max-width: 88%;
    }

    .section-one .box-wrapper .zoom-in-out-icon {
        margin-right: 0;
    }
}


@media (max-width: 991px) {


    .section-one .content-wrapper,
    .section-one .content-wrapper span {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-self: center;
        align-self: center;
        background: none;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
    }

    .section-one .box-wrapper {
        bottom: -3rem;
        max-width: 80%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-content: center;
        padding-left: 0;
        padding-right: 0;
    }

    .section-one .button-wrapper {
        display: flex;
        text-align: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        padding: 0;

    }

    .section-one .short-line {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .section-one .box-wrapper .restyle-select {
        margin-top: 0;
        margin-bottom: 0;
    }

    .section-one .box-wrapper {
        bottom: -5.5rem;
    }

    .section-one .box-wrapper a {
        margin-top: 1rem;
    }

    .section-one .box-wrapper .col-lg-2:nth-child(n+4) a {
        margin-bottom: 1.2rem;
    }

    .section-one .hover-style-1 {
        font-size: 1rem;
    }

    #google_translate_element {
        height: 16px !important;
        overflow: hidden !important;
    }

    .section-one .box-wrapper .col-lg-2 .language {
        margin-top: 0.5rem;
    }

    .section-one .md-justify {
        max-width: 10rem;
    } 
}

@media (max-width: 767px) {

    .section-one .box-wrapper {
        padding: 1rem;
        bottom: -10rem;
    }

    .section-one .box-wrapper .col-lg-2 a, .section-one .box-wrapper .col-lg-2 .language{
        justify-content: flex-start;
        margin: 1rem 0rem 1rem 1rem;
    }

    .section-one .hover-style-1 {
        padding: 0.5rem 2rem;
    }

    .section-one .hover-style-1:hover {
        box-shadow: inset 20rem 0rem 10rem 0rem var(--color-five);
        color: white;
        border-radius: 10px;
        padding: 0.5rem 2rem;
        cursor: pointer;
    }

    .section-one .md-justify {
        max-width: none;
        display: flex;
        justify-content: center;
        align-items: center;
    } 

    .section-one .smaller-text {
        display: flex;
        align-self: flex-start;
    }

    .section-one .box-wrapper a i {
        position: absolute;
        right: 3rem;
    }

    .section-one .box-wrapper .fa-globe {
        position: absolute;
        right: 2.8rem;
    }
}

@media (max-width: 700px) {
    .section-one .box-wrapper a i {
        position: absolute;
        right: 1.5rem;
    }

    .section-one .box-wrapper .fa-globe {
        position: absolute;
        right: 1.2rem;
    }
}

@media (max-width: 605px) {
    .section-one .box-wrapper a i {
        position: absolute;
        right: 0rem;
    }

    .section-one .box-wrapper .fa-globe {
        position: absolute;
        right: 0rem;
    }
}

@media (max-width: 576px) {

    .section-one .box-wrapper a i, .section-one .box-wrapper .fa-globe {
        right: 4rem;
    }

    .section-one .box-wrapper {
        bottom: -32rem;
        width: 70%;
    }

    .section-one .box-wrapper .col-lg-2 a, .section-one .box-wrapper .col-lg-2 .language{
        justify-content: flex-start;
        margin: 2rem 2rem 0rem 2rem;
    }

    .section-one .smaller-text {
        align-self: center;
    }

    .section-one .box-wrapper .col-lg-2 a,
    .section-one .box-wrapper .col-lg-2 .language {
        justify-content: left;
    }

    #google_translate_element {
        height: 22px !important;
        overflow: hidden !important;
    }
}

@media (max-width: 460px) {

    .section-one .col-sm-6 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .section-one .box-wrapper {
       width: 85%;
    }
    .goog-te-gadget .goog-te-combo, 
    .section-one .box-wrapper .inner-wrap .date,
    .section-one .tiny-text, .section-one .smaller-text {
        font-size: 0.8rem;
    }
}

@media (max-width: 391px) {
    .section-one .box-wrapper {
       width: 90%;
    }
    
    .section-one .goog-te-gadget .goog-te-combo {
        position: absolute;
        left: 2.5rem;
        font-size: 0.65rem;
    } 

    .section-one .box-wrapper .col-lg-2:nth-child(n+4) a {
        font-size: 0.9rem;
    }
}

/*  End Responsive  */
/*  END SECTION 1  */


/*  SECTION 2  */
.section-two {
    padding: 9rem 0rem 2rem 0rem;
    color: #fff;
}

.section-two .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-two .text-wrapper h2 {
    font-size: 1.5rem;
    color: var(--color-three);
    margin-bottom: 0;
}

.section-two .text-wrapper .short-line {
    margin: 0.8rem 0rem;
    width: 3rem;
}

.section-two .text-wrapper p {
    color: var(--color-twelve);
    font-size: 0.9rem;
    max-width: 40rem;
    text-align: center;
    letter-spacing: 0.05rem;
    margin: 1rem 0rem;
}


.section-two .box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0rem;
    transition: all 0.3s;
}

.section-two .box-wrapper:hover {
    transform: scale(1.08); 
    cursor: pointer;
}

.section-two .box-wrapper h3 {
    margin-top: 1.3rem;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    color: #a99635;
    box-shadow: inset 0 0 0 0 #a99635;
    transition: all 0.5s;
    border-radius: 15px;
}

.section-two .box-wrapper p {
    color: var(--color-twelve);
}

.section-two .box-wrapper:hover h3 {
    box-shadow: inset 12rem 0 0 0 var(--color-three);
    color: white;
    border-radius: 15px;
    padding: 0.4rem;
}

.section-two .col-lg-3:nth-child(odd) {
    margin: 1.75rem 0rem;
}

.section-two .box-wrapper img {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
}

.section-two .box-wrapper p {
    font-size: 0.8rem;
}

.section-two .box-wrapper .md-justify {
    margin-top: 0;
}

/*  Responsive  */

@media (max-width: 996px) {
    .section-two .col-lg-3 {
        display: flex;
        justify-content: center;
    }

    .section-two .box-wrapper h3 {
        max-width: 10rem;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .section-two .box-wrapper {
        text-align: center;
        width: 95%;
        margin: 1rem 0rem;
    }

    .section-two .col-lg-3:nth-child(odd) {
        margin: 0rem;
    }

    .section-two .box-wrapper:hover h3 {
        box-shadow: inset 20rem 0 0 0 var(--color-three);
        color: white;
        border-radius: 10px;
        padding: 0.3rem;
        padding-left: 0.3rem;
    }
}

@media (max-width: 767px) {

    .section-two {
        margin-top: 5rem;
    }

    .section-two .box-wrapper {
        width: 70%;
    }

    .section-two .box-wrapper h3 {
        margin-top: 2rem;
    }
}

@media (max-width: 576px) {
    .section-two {
        margin-top: 30rem;
    }

    .section-two .box-wrapper {
        display: flex;
        justify-self: center;
    }
}

@media (max-width: 430px) {
    .section-two {
        margin-top: 40rem;
    }

    .section-two .text-wrapper p {
        max-width: 20rem;
    }
}

/*  End Responsive  */
/*  END SECTION 2  */




/*  SECTION 3  */




/*  Responsive  */

/*  End Responsive  */
/*  END SECTION 3  */

/*  SECTION 4  */

.section-four {
    background-color: #f8f8f2;
    padding: 2rem 0rem;
    background-position: center center;
    background-size: cover;
}

.section-four .tiny-text {
    color: var(--color-three);
    font-size: 0.85rem;
}
.section-four .h3-tiny {
    font-size: 0.8rem;
    color: var(--color-twelve) !important;
}

.section-four .box-wrapper .tiny-text {
    color: var(--color-two);
    font-size: 0.8rem;
}

.section-four h1, .section-four #inf {
    margin: 1.5rem 2rem 2rem 2rem ;
    text-align: center;
    color: var(--color-twelve);
    font-size: 0.9rem;
}

.section-four h1 {
    color: var(--color-three);
    font-size: 1.5rem;
}

.section-four .box-wrapper  {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    background-color: var(--color-one);
    text-align: center;
    box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 490px;
    width: 21.2rem;
    margin: 2rem 0rem 2rem 0rem;
    transition: all 0.3s;
}

.section-four .box-wrapper img {
    position: absolute;
    object-fit: cover;
    top: 0;
    width: 100%;
    height: 40%;
}

.section-four .box-wrapper h2 {
    margin: 1.5rem;
    font-size: 1.1rem;
}

.section-four .box-wrapper h2::after, .section-four h1::after {
    margin-top: 1rem;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    content: " ";
    width: 4rem;
    height: 1px;
    background: var(--color-three);
}

.section-four .col-lg-4 {
    margin-bottom: 0;
}

.section-four .box-wrapper h2::after {
    margin-top: 1.2rem;
    width: 2.5rem;
    opacity: 0.5;
}
  
.section-four .box-wrapper h3 {
    margin-top: 10rem;
    color: var(--color-three);
}

.section-four .box-wrapper p {
    margin-bottom: 0;
}

.section-four .box-wrapper a {
    color: var(--color-three);
    margin: 1rem;
}

.section-four .box-wrapper .hover-style-1 {
    color: var(--color-three);
    box-shadow: inset 0 0 0 0 var(--color-three);
    font-size: 1rem;
    font-weight: normal;
}

.section-four .box-wrapper:hover .hover-style-1, .section-four .box-wrapper .hover-style-1:hover {
    box-shadow: inset 10rem 0 0 0 var(--color-three);
    color: white !important;
    border-radius: 15px;
    padding: 0.3rem;
    padding-left: 1rem;
    cursor: pointer;
}


.section-four .but-center {
    align-items: center;
    text-align: center;
}

.section-four .box-wrapper a {
    margin-top: 1.5rem;
    margin-bottom: 0;
    text-decoration: none;
    transition: all 0.5s;
}

.section-four .box-wrapper a:hover {
    background-color: var(--color-three);
    color: var(--color-one);
    border-radius: 10px;
    padding: 0.4rem 1rem;
}

.section-four .box-wrapper a i {
    margin-left: 0.2rem;
}

.section-four .box-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .section-four .box-wrapper .sec4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    color: var(--color-three);
    box-shadow: inset 0 0 0 0 var(--color-three);
    transition: all 0.5s;
    border-radius: 15px;
    text-decoration: none;
  }
  

/*  Responsive  */
@media (max-width: 1200px) {

    .section-four .col-lg-4 .box-wrapper {
        width: 18.5rem;
    }

    .section-four .box-wrapper h2 {
        font-size: 1rem;
    }
}

@media (max-width: 991px) {

    .section-four .col-lg-4 .box-wrapper {
        width: 20rem;
    }

    .section-four .col-lg-4 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-four .col-lg-4:nth-child(3){
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 767px) {
    .section-four .col-lg-4 .box-wrapper {
        width: 25rem;
    }

    .section-four .box-wrapper img {
        height: 50%;
    }

    .section-four .box-wrapper h3 {
        margin-top: 16rem;
    }
}

@media (max-width: 578px) {
    .section-four .col-lg-4 .box-wrapper {
        max-width: 20rem;
    }
}


/*  End Responsive  */
/*  END SECTION 4  */

/*  SECTION 5  */
.m-n-right {
    margin-right: 0 !important;
}

.section-five #s5-main-img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.section-five .col-lg-12{
    margin: 5rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-five .col-lg-12 {
    margin-bottom: 2rem;
}

.section-five .box-wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2rem 2rem;
    background-color: rgb(243, 242, 240);
    width: 80%;
    border-radius: 10px;
}

.section-five .up {
    margin-top: -10%;
}

.section-five .box-wrapper .text-wrapper {
    max-width: 48rem;
    font-size: 0.9rem;
    color: var(--color-twelve);
}

.h2-wrapper {
    margin-top: 0.5rem;
    margin-bottom: 0;
    max-width: 25rem;
}

.section-five .box-wrapper h2, .section-five .box-wrapper p:nth-of-type(2) {
    justify-content: center;
    color: #9d946b;
    text-transform: uppercase;
    margin-top: 1.75rem;
    margin-bottom: 0;
}

.section-five .box-wrapper h2 {
    font-size: 1.4rem;
    margin: 0.5rem 0rem;
}

.section-five .box-wrapper h2,
.section-five .row:nth-of-type(2) p {
    max-width: 38rem;
    margin: 0.5rem 0 0 0;
}

.section-five .col-lg-6 {
    align-items: center;
    margin: 0 1rem;
    max-width: 30rem;
    margin-bottom: 3rem;
}

.section-five .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-five .box-wrapper .text-wrapper .short-line{
    margin: 0.8rem auto 1rem auto;
    width: 3rem
}

.section-four .box-wrapper .fix-mar {
    margin-left: 1rem;
    margin-right: 1rem;
}

.section-four .box-wrapper .smaller-text {
    font-size: 0.85rem;
}

.section-four .box-wrapper .smaller-text-ad {
    font-weight: 500;
    font-size: 1.1rem !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-three);
}



/*================================*/
.section-five .comment {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 2rem;
}

.section-five .box-wrapper-2 h1 {
    font-family: var(--font-system-ui);
    text-align: center;
    color: var(--color-eight);
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.section-five .box-wrapper-2 p {
    text-align: center;
    color: var(--color-nine);
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.section-five .box-wrapper-2 .text-box {
    text-align: center;
    background-color: var(--color-ten);
    padding: 2rem;
    border-radius: 10px;
    overflow: hidden;
}

.section-five .box-wrapper-2 .text-box i {
    display: inline-flex;
    color: var(--color-eleven);
    font-size: 1.8rem;

}

.section-five .box-wrapper-2{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.section-five .box-wrapper-2 .text-box p {
    display: inline;
    font-size: 1rem;
    margin-left: 0rem;
    font-family: var(--font-system-ui);
    color: var(--color-twelve);
    font-style: italic;
    font-weight: 500;
}

.section-five .box-wrapper-2 img {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 6rem;
    border-radius: 50%;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.section-five .box-wrapper-2 h2 {
    font-family: var(--font-sans-raleway);
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0;
}

.section-five .box-wrapper-2 p {
    margin-top: 0.2rem;
    font-size: 0.8rem;
}

.section-five .box-wrapper-2 .text-box p::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid var(--color-ten);
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: 208px;
    left: calc(50% - 20px);
}

.section-five .td {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    object-position: center center;
}

/*  Responsive  */
@media (max-width: 1200px) {

    .section-five .box-wrapper h2 {
        font-size: 1.2rem;
    }

    .section-five .box-wrapper .text-wrapper {
        max-width: 38rem;
        font-size: 0.85rem;
    }

    .section-five .box-wrapper .text-wrapper {
        margin-bottom: 0;
    }

    .section-five .col-lg-6{
        max-width: 23rem;
    }

    .section-five .box-wrapper .text-wrapper .short-line{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .section-five .box-wrapper .text-wrapper, .section-five .box-wrapper p {
        max-width: 35rem;
    }
}

@media (max-width: 991px) {

    .section-five #s5-main-img {
        width: 100%;
        height: 420px;
        border-radius: 10px;
    }

    .section-five .up {
        margin-top: -15%;
    }

    .section-five .box-wrapper h2 {
        font-size: 1.1rem;
    }

    .section-five .box-wrapper .short-line {
        margin: 1rem 0rem;
    }

    .section-five .box-wrapper .text-wrapper, .section-five .box-wrapper p {
        max-width: 25rem;
    }

    .section-five .shorten {
        max-width: 40rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .section-five .col-lg-6 {
        max-width: none;
    }

    .section-five .shorten {
        max-width: none;
    }

    .section-five .inner-wrapper .inner-text h5{
        font-size: 1rem;
    }

    .section-five .shorten .inner-wrapper {
        display: flex;
        justify-content: center;
        width: 35rem;
    }


    .section-five .shorten .inner-wrapper .inner-text img{
        width: 100%;
        height: 100%;
    }

    .section-five .rating {
        width: 38rem;
        height: auto;
    }
}

@media (max-width: 767px) {
    .section-five .rating {
        width: 30rem;
        height: auto;
    }
}

@media (max-width: 567px) {
    .section-five .rating {
        width: 25rem;
        height: auto;
    }
}


/*  End Responsive  */
 /* END SECTION 5  */

 
/* Footer */
footer .container .row a {
    position: relative;
}

footer {
    background-color: var(--color-two);
    /* background-color: var(--color-seven); */
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .container .modify {
    display: flex;
    justify-content: center;
}

footer .col-md-6 .modify .main-logo {
    border-radius: 10px;
    width: 90px;
    height: 110px;
    box-shadow: -5px 5px 5px #9d946b;;
    opacity: 0.5;
    padding-left: 0;
    transition: all 0.5s;

}
footer .col-md-6 .modify .main-logo:hover, .main-logo:active{
    width: 110px;
    height: 140px;
}

/* -----------------ss2----------------- */

footer .col-lg-4 .ss-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .ss-2 h6 {
    color: var(--color-three);
    margin-bottom: 20px;
}

footer .container .row .ss-2 .reservation p{
    color: white;
    opacity: 0.7;
    font-size: 14px;
    margin-bottom: 5px;
}

footer .container .row .ss-2 .reservation p:hover{
    color: var(--color-three);
}

/* khoang cach icon(phone, mail) va chu */
footer .container .row .ss-2 .reservation p a{
    color: white;
}

footer .container .row .ss-2 .reservation p a:hover{ 
    color: #9d946b;
    text-decoration: none;
}

footer .container .row .ss-2 .reservation i {
    margin-right: 0.5rem;
}


/* ---------------------ss-3----------------------- */
footer .container .row .ss-3{
    padding-left: 4rem;
}

footer .container .row .ss-3 .payment{
    height: 40px;
    margin-right: 15px;
    margin-top: 12px;
    display: flex;
    align-items: flex-start;
}

footer .container .row .ss-3 .payment-visa {
    margin-top: 10px;
    height: 40px;
    width: 40%;
}

footer .container .row .ss-3 h6 {
    color: var(--color-three);

}

/* ------------------ss-4------------------- */

footer .ss-4 h6{
    color: var(--color-three);
} 

footer .container .row .ss-4 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 5rem;
}

footer .container .row .ss-4 .support{
    padding: 0;
    list-style-type: none;
    margin-top: 12px;

}
footer .container .row .ss-4 .support li a{
    color: var(--color-one);
    font-size: 14px;
    opacity: 0.7;
    text-decoration: none;
}
footer .container .row .ss-4 .support li a:hover, a:active{
    color: var(--color-three);
}
/* ---------------------ss-5--------------------- */
footer .container .row .ss-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 0.7rem;
}
footer .container .row .ss-5 .contact .social{
    color: var(--color-three);
    opacity: 1;
    padding: 0rem 0.5rem;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-size: 25px;
    transition: all 0.5s;
}
footer .container .row .ss-5 .contact .social:hover, .social:active{
    font-size: 35px;
}

footer .container .row .ss-5 .design{
    color: var(--color-one);
    opacity: 0.5;
    font-size: 14px;
    text-align: center;
}


/* RESPONSIVE */
@media (max-width: 991px){
    footer .col-md-6 .modify {
        justify-content: flex-start;  
        margin-left: 0.5rem;   
    }

    footer .container .row .ss-3 .payment-visa{
        width: 80px;
    }

    footer .container .row .ss-3,footer .container .row .ss-4{
        padding: 0 15px;
        margin-top: 2rem;
    }
    footer .container .row .ss-3 h6,footer .container .row .ss-4 h6{
        margin: 0;
    }
}

@media (max-width: 768px){
    footer .col-md-6 .modify {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    footer .container .row .ss-2{
        padding-top: 4rem;
        margin: 0;
        padding-left: 6rem;        
    }
    
    
     footer .container .row .ss-4{
        margin: 0;
        padding-top: 2rem;
        padding-left: 6rem;        

    }

    footer .container .row .ss-3{
        margin: 0;
        padding-bottom: 2rem;   
        padding-top: 3rem;
        padding-left: 6rem;        

    }

    footer .container .row .ss-3 .payment-visa{
        width: 70px;
    }
}

@media (max-width: 576px){

    footer .container .row .ss-2{
        padding-left: 5rem;
    }
    
    footer .container .row .ss-3, footer .container .row .ss-4{
        padding-left: 5rem;
    }
}



