*::selection {
	background-color: #9d946b;
}

.section {
	background-image: url(https://drive.google.com/uc?export=view&id=1cRjdOICgr8_B7OrqlSWcbogYJREZ0vVX);
	background-position: center center;
	background-position: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 100vh;
	width: auto;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Raleway', sans-serif;
}

.booking-form {
	position: relative;
	max-width: 642px;
	width: 100%;
	margin: auto;
	padding: 40px;
	overflow: hidden;
	background-size: cover;
	border-radius: 3rem;
	z-index: 20;
}

.booking-form::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: -1;
}

.booking-form .form-header {
	text-align: center;
	position: relative;
	margin-bottom: 30px;
}

.booking-form .form-header h1 {
	font-weight: 700;
	text-transform: capitalize;
	font-size: 42px;
	margin: 0px;
	color: #fff;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 30px;
}

.booking-form .form-control {
	background-color: rgba(255, 255, 255, 0.2);
	height: 60px;
	padding: 0px 25px;
	border: none;
	border-radius: 40px;
	color: #fff;
	-webkit-box-shadow: 0px 0px 0px 2px transparent;
	box-shadow: 0px 0px 0px 2px transparent;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.booking-form .form-control::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.booking-form .form-control:focus {
	-webkit-box-shadow: 0px 0px 0px 2px #9d946b;
	box-shadow: 0px 0px 0px 2px #9d946b;
}

.booking-form input[type="date"].form-control {
	padding-top: 16px;
}

.booking-form input[type="date"].form-control:invalid {
	color: rgba(255, 255, 255, 0.5);
}

.booking-form input[type="date"].form-control+.form-label {
	opacity: 1;
	top: 10px;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control:invalid {
	color: rgba(255, 255, 255, 0.5);
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form select.form-control option {
	color: #000;
}

.booking-form .form-label {
	position: absolute;
	top: -10px;
	left: 25px;
	opacity: 0;
	color: #9d946b;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	height: 15px;
	line-height: 15px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-group.input-not-empty .form-control {
	padding-top: 16px;
}

.booking-form .form-group.input-not-empty .form-label {
	opacity: 1;
	top: 10px;
}

.booking-form .submit-btn {
	color: #fff;
	background-color: #9d946b;
	font-weight: 700;
	height: 60px;
	padding: 10px 30px;
	width: 100%;
	border-radius: 40px;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1.3px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	opacity: 0.9;
}

@media (max-width: 991px) {
	.section {
		background-image: url(https://drive.google.com/uc?export=view&id=1cRjdOICgr8_B7OrqlSWcbogYJREZ0vVX);
		background-position: center center;
		background-position: cover;
		background-repeat: no-repeat;
		position: relative;
		height: 170vh;
		width: auto;
	}
}
/* Footer */
footer .container .row a {
    position: relative;
}

footer {
    background-color: #000;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
	z-index: 999;
}
footer .container .modify {
    display: flex;
    justify-content: center;
}

footer .col-md-6 .modify .main-logo {
    border-radius: 10px;
    width: 90px;
    height: 110px;
    box-shadow: -5px 5px 5px #9d946b;;
    opacity: 0.5;
    padding-left: 0;
    transition: all 0.5s;

}
footer .col-md-6 .modify .main-logo:hover, .main-logo:active{
    width: 110px;
    height: 140px;
}

/* -----------------ss2----------------- */

footer .col-lg-4 .ss-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .ss-2 h6 {
    color: #9d946b;
    margin-bottom: 20px;
}

footer .container .row .ss-2 .reservation p{
    color: white;
    opacity: 0.7;
    font-size: 14px;
    margin-bottom: 5px;
}

footer .container .row .ss-2 .reservation p:hover{
    color: #9d946b;
}

/* khoang cach icon(phone, mail) va chu */
footer .container .row .ss-2 .reservation p a{
    color: white;
}

footer .container .row .ss-2 .reservation p a:hover{ 
    color: #9d946b;
    text-decoration: none;
}

footer .container .row .ss-2 .reservation i {
    margin-right: 0.5rem;
}


/* ---------------------ss-3----------------------- */
footer .container .row .ss-3{
    padding-left: 4rem;
}

footer .container .row .ss-3 .payment{
    height: 40px;
    margin-right: 15px;
    margin-top: 12px;
    display: flex;
    align-items: flex-start;
}

footer .container .row .ss-3 .payment-visa {
    margin-top: 10px;
    height: 40px;
    width: 40%;
}

footer .container .row .ss-3 h6 {
    color: #9d946b;

}

/* ------------------ss-4------------------- */

footer .ss-4 h6{
    color: #9d946b;
} 

footer .container .row .ss-4 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 5rem;
}

footer .container .row .ss-4 .support{
    padding: 0;
    list-style-type: none;
    margin-top: 12px;

}
footer .container .row .ss-4 .support li a{
    color: #fff;
    font-size: 14px;
    opacity: 0.7;
    text-decoration: none;
}
footer .container .row .ss-4 .support li a:hover, a:active{
    color: #9d946b;
}
footer .social {
	color: #9d946b;
}
/* ---------------------ss-5--------------------- */
footer .container .row .ss-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 0.7rem;
}
footer .container .row .ss-5 .contact .social{
    color: #9d946b;
    opacity: 1;
    padding: 0rem 0.5rem;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-size: 25px;
    transition: all 0.5s;
}
footer .container .row .ss-5 .contact .social:hover, .social:active{
    font-size: 35px;
}

footer .container .row .ss-5 .design{
    color: #fff;
    opacity: 0.5;
    font-size: 14px;
    text-align: center;
}


/* RESPONSIVE */
@media (max-width: 991px){
    footer .col-md-6 .modify {
        justify-content: flex-start;  
        margin-left: 0.5rem;   
    }

    footer .container .row .ss-3 .payment-visa{
        width: 80px;
    }

    footer .container .row .ss-3,footer .container .row .ss-4{
        padding: 0 15px;
        margin-top: 2rem;
    }
    footer .container .row .ss-3 h6,footer .container .row .ss-4 h6{
        margin: 0;
    }
}

@media (max-width: 768px){
    footer .col-md-6 .modify {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    footer .container .row .ss-2{
        padding-top: 4rem;
        margin: 0;
        padding-left: 6rem;        
    }
    
    
     footer .container .row .ss-4{
        margin: 0;
        padding-top: 2rem;
        padding-left: 6rem;        

    }

    footer .container .row .ss-3{
        margin: 0;
        padding-bottom: 2rem;   
        padding-top: 3rem;
        padding-left: 6rem;        

    }

    footer .container .row .ss-3 .payment-visa{
        width: 70px;
    }
}

@media (max-width: 576px){

    footer .container .row .ss-2{
        padding-left: 5rem;
    }
    
    footer .container .row .ss-3, footer .container .row .ss-4{
        padding-left: 5rem;
    }
}