
/*  NAVIGATION BAR  */
header{
    position: fixed;
    width: 100%;
    z-index: 99;
}
nav{
    background-color: #efefef;
    display: flex;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    line-height: 3rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
} 
nav .container{
    display: flex;
    justify-content: center;
}

nav .navbar-brand{
    color: var(--color-three);
    letter-spacing: .6px;
    font-weight: 700;
}

nav .navbar-brand:hover{
    color: #816e14;

}

nav .nav-list{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 20rem;
    
}

nav .nav-list .nav-item{
    list-style-type: none;
    cursor: pointer;
    height: 100%;
    padding: 0 0.5rem;
}
nav .nav-list .nav-item:hover{
    background-color: #9d946b;
}

nav .nav-list .nav-item .nav-link{
    color: #9d946b;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.4s;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

nav .nav-list .nav-item .nav-link:hover{
    color: white;
}


/* RESPONSIVE */
@media (max-width:1200px){
    nav .nav-list {
        margin-left: 15rem;

    }

    nav .nav-list .nav-item{
        padding: 0 0.5rem;
    }

    nav .nav-list .nav-item .nav-link{
        padding-right: 0.2rem;
        padding-left: 0.2rem;
    }
}
@media (max-width:992px){
    nav .container{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    nav .nav-list {
        padding-right: 0;
        padding-left: 0;
    }

    nav .nav-list .nav-item{
        padding: 0;
    }

    nav .nav-list .nav-item .nav-link{
        min-width: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}


@media (max-width:890px){
    nav .container{
        width: 100%;
    }
    nav .nav-list .nav-item .nav-link{
        min-width: 6rem;
        font-size: 0.7rem;
    }
}

@media (max-width:768px){
    /* nav .container{
        margin-left: auto;
        margin-right: auto;
    } */
    nav .nav-list{
        display: grid;
        position: absolute;
        background-color: #efefef;
        width: 100%;
        left: 0;
        top: 3rem;
        z-index: -1;
        transform: translateY(-100%);
        padding: 0;
        margin-left: 0;
        margin-top: 1rem;
    }
    nav .nav-list .nav-item:hover{
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    }

    nav .nav-list .nav-item .nav-link{
        font-size: 0.9rem;
    }

    nav .navbar-brand{
        padding-left: 5rem;
    }

    nav .navbar-toggle{
        display: grid !important;
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

nav .navbar-toggle{
    display: none;
    cursor: pointer;
    height: min-content;
    margin-top: 1.5rem;
    align-items: center;
}

nav .navbar-toggle .bar{
    width: 25px;
    height: 3px;
    background: #9d946b;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: .4s;
}

input{
    display: none;
} 

input:checked ~ nav .nav-list{
    transform: translateY(0);
}

input:checked ~ nav .navbar-toggle .bar:nth-child(1){
    position: absolute;
    transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggle .bar:nth-child(3){
    position: absolute;
    transform: rotate(-45deg);
}


/*  END NAVIGATION BAR  */



/*  SECTION 1  */
.section-one {
    position: relative;
    background-image: url(https://drive.google.com/uc?export=view&id=1dNj_kKo8fpo4ZEL41yi5KFY__kYmqCEd);
    /* background-image: url(/Web/assets/image/annam_auto_x2.jpg); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
    width: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
} 



/* .darken-layer {
    position: absolute;
    background-color: #000;
    opacity: 0.1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */

.section-one .content-wrapper {
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: var(--color-one);
    max-width: 25rem;
}

.section-one .content-wrapper h1 {
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
}

.section-one .content-wrapper span {
    display: flex;
    font-size: 0.9rem;
    letter-spacing: 0.08rem;
    max-width: 18rem;
    margin: 0.5rem 0rem;
}

.section-one .button-wrapper {
    display: flex;
    flex-direction: row;
}

.section-one .box-wrapper {
    position: absolute;
    background-color: var(--color-one);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    bottom: -6.5vh;
    border-radius: 15px;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 20%);
    max-width: 80%;
    overflow: hidden;
}

.section-one .recolor-text {
    color: var(--color-three);
}

.section-one .box-wrapper a, .section-one .box-wrapper .language {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-two);
}

.section-one .box-wrapper .fa-location-dot {
    color: var(--color-six);
    display: flex;
    align-self: center;
    font-size: 1.8rem;
    margin-left: 1.5rem;
    transition: all 0.5s;
}

.section-one .box-wrapper .address:hover i {
    cursor: pointer;
    color: var(--color-five);
}

.section-one .box-wrapper .inner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.section-one .box-wrapper .inner-text p {
    margin: 0;
    padding: 0;
}

.section-one .box-wrapper .fa-calendar-days {
    display: flex;
    align-self: center;
    justify-self: center;
    margin-left: 1.5rem;
    font-size: 2rem;
    color: var(--color-six);
    transition: all 0.5s;
}

.section-one .box-wrapper .date-link:hover .fa-calendar-days {
    color: var(--color-five);
}

.section-one .box-wrapper .inner-wrap .date {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.95rem;
    text-align: left;
    color: var(--color-two);
}

.section-one .box-wrapper .language .fa-globe {
    display: flex;
    align-self: center;
    margin-left: 1.2rem;
    color: var(--color-six);
    font-size: 1.8rem;
    transition: all 0.5s;
}

.section-one .box-wrapper .language:hover .fa-globe {
    color: var(--color-five);
}

.section-one .box-wrapper .smaller-text {
    margin-bottom: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.section-one .box-wrapper .rating p  {
    color: var(--color-two);
}

.section-one .box-wrapper .fa-star {
    display: flex;
    align-self: center;
    margin-left: 1.5rem;
    font-size: 1.8rem;
    color: var(--color-six);
    transition: all 0.5s;
}

.section-one .box-wrapper .rating:hover .fa-star {
    color: var(--color-five);
}

/*  Responsive  */
@media (max-width: 991px) {
    .section-one .content-wrapper, .section-one .content-wrapper span {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-self: center;
        align-self: center;
        background: none;
        text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
    }

    .section-one .button-wrapper {
        display: flex;
        text-align: center;
        justify-self: center;
        align-self: center;
    }

    .section-one .short-line {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .section-one .box-wrapper .restyle-select {
        margin-top: 0;
        margin-bottom: 0;
     }

    .section-one .box-wrapper {
        bottom: -11vh;
    }

    .section-one .box-wrapper a {
        margin-top: 1rem;
    }

    .section-one .box-wrapper .col-lg-2:nth-child(n+4) a {
        margin-bottom: 1.2rem;
    }

    .section-one .hover-style-1 {
        font-size: 1rem;
    }

    #google_translate_element { 
        height: 16px !important;
        overflow: hidden !important; 
    }

    .section-one .box-wrapper .col-lg-2 .language {
        margin-top: 0.5rem;
    }
}

@media (max-width: 767px) {
    .section-one .box-wrapper .col-lg-2 a, .section-one .box-wrapper .col-lg-2 .language{
        justify-content: flex-start;
        margin: 2rem 0rem 0rem 2rem;
    }

    .section-one .box-wrapper {
        bottom: -18vh;
    }

    .section-one .box-wrapper .fa-location-dot {
        margin-left: 3rem;
        font-size: 2rem;
    }

    .section-one .box-wrapper .fa-calendar-days {
        margin-left: 3rem;
        font-size: 2.1rem;
    }

    .section-one .box-wrapper .fa-star {
        margin-left: 5rem;
        font-size: 2.1rem;
    }

    .section-one .box-wrapper .hover-style-1 {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
    
    .section-one .hover-style-1:hover {
        box-shadow: inset 20rem 0rem 10rem 0rem var(--color-five);
        color: white;
        border-radius: 10px;
        padding: 0.5rem;
        padding-left: 1rem;
        cursor: pointer;
    }
}

@media (max-width: 576px) {

    .section-one .box-wrapper {
        bottom: -65vh;
        width: 70%;
    }

    .section-one .box-wrapper .col-lg-2 {
        display: flex;
        justify-content: center !important;
        margin-right: 2rem;
    }

    .section-one .box-wrapper .col-lg-2 a, .section-one .box-wrapper .col-lg-2 .language {
        justify-content: left;
    }

    .section-one .box-wrapper .fa-location-dot {
        margin-left: 5rem;
    }

    .section-one .box-wrapper .fa-calendar-days {
        margin-left: 3.1rem;
    }

    .section-one .box-wrapper  .language .fa-globe {
        margin-left: 0.7rem;
    }

    .section-one .box-wrapper .fa-star {
        margin-left: 5rem;
    }

    #google_translate_element { 
        height: 22px !important;
        overflow: hidden !important; 
    }


}

/*  End Responsive  */
/*  END SECTION 1  */


/*  SECTION 2  */
.section-two {
    margin: 7rem 0rem;
}

.section-two .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-two .text-wrapper h2 {
    font-size: 1.5rem;
    color: var(--color-three);
    margin-bottom: 0;
}

.section-two .text-wrapper .short-line {
    margin: 0.8rem 0rem;
    width: 3rem;
}

.section-two .text-wrapper p {
    font-size: 0.9rem;
    max-width: 35rem;
    text-align: center;
    letter-spacing: 0.05rem;
    margin: 1rem 0rem;
}


.section-two .box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0rem;
    transition: all 0.5s;
}

.section-two .box-wrapper:hover {
    transform: scale(1.1); 
    cursor: pointer;
}

.section-two .box-wrapper h3 {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    color: var(--color-three);
    box-shadow: inset 0 0 0 0 var(--color-three);
    transition: all 0.5s;
    border-radius: 15px;
}

.section-two .box-wrapper:hover h3 {
    box-shadow: inset 10rem 0 0 0 var(--color-three);
    color: white;
    border-radius: 15px;
    padding: 0.4rem;
    /* padding-left: 0.3rem; */
}

.section-two .col-lg-3:nth-child(odd) {
    margin: 1.75rem 0rem;
}

.section-two .box-wrapper img {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.section-two .box-wrapper p {
    font-size: 0.8rem;
}

/*  Responsive  */

@media (max-width: 996px)  {

    .section-two .col-lg-3 {
        display: flex;
        justify-content: center;
    }

    .section-two .box-wrapper h3 {
        max-width: 10rem;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .section-two .box-wrapper {
        text-align: center;
        width: 95%;
        margin: 1rem 0rem;
    }

    .section-two .col-lg-3:nth-child(odd) {
        margin: 0rem;
    }

    .section-two .box-wrapper:hover h3 {
        box-shadow: inset 20rem 0 0 0 var(--color-three);
        color: white;
        border-radius: 10px;
        padding: 0.3rem;
        padding-left: 0.3rem;
    }
}

@media (max-width: 767px) {

    .section-two {
        margin-top: 10rem;
    }

    .section-two .box-wrapper {
        width: 70%;
    }

    .section-two .box-wrapper h3 {
        margin-top: 2rem;
    }
}

@media (max-width: 576px) {
    .section-two {
        margin-top: 30rem;
    }

    .section-two .box-wrapper {
        display: flex;
        justify-self: center;
    }
}

@media (max-width: 430px) {
    .section-two {
        margin-top: 40rem;
    }

    .section-two .text-wrapper p {
        max-width: 20rem;
    }
}

/*  End Responsive  */
/*  END SECTION 2  */




/*  SECTION 3  */




/*  Responsive  */

/*  End Responsive  */
/*  END SECTION 3  */




/*  SECTION 4  */


/*  Responsive  */


/*  End Responsive  */
/*  END SECTION 4  */




/*  SECTION 5  */


/*  Responsive  */


/*  End Responsive  */
/*  END SECTION 5  */

/* Footer */
footer .container .row a {
    position: relative;
}

footer {
    background-color: var(--color-two);
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .container .modify {
    display: flex;
    justify-content: center;
}

footer .col-md-6 .modify .main-logo {
    border-radius: 10px;
    width: 90px;
    height: 110px;
    box-shadow: -5px 5px 5px #9d946b;;
    opacity: 0.5;
    padding-left: 0;
    transition: all 0.5s;

}
footer .col-md-6 .modify .main-logo:hover, .main-logo:active{
    width: 110px;
    height: 140px;
}

/* -----------------ss2----------------- */

footer .col-lg-4 .ss-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .ss-2 h6 {
    color: var(--color-three);
    margin-bottom: 20px;
}

footer .container .row .ss-2 .reservation p{
    color: white;
    opacity: 0.7;
    font-size: 14px;
    margin-bottom: 5px;
}

footer .container .row .ss-2 .reservation p:hover{
    color: var(--color-three);
}

/* khoang cach icon(phone, mail) va chu */
footer .container .row .ss-2 .reservation p a{
    color: white;
}

footer .container .row .ss-2 .reservation p a:hover{ 
    color: #9d946b;
    text-decoration: none;
}

footer .container .row .ss-2 .reservation i {
    margin-right: 0.5rem;
}


/* ---------------------ss-3----------------------- */
footer .container .row .ss-3{
    padding-left: 4rem;
}

footer .container .row .ss-3 .payment{
    height: 40px;
    margin-right: 15px;
    margin-top: 12px;
    display: flex;
    align-items: flex-start;
}

footer .container .row .ss-3 .payment-visa {
    margin-top: 10px;
    height: 40px;
    width: 40%;
}

footer .container .row .ss-3 h6 {
    color: var(--color-three);

}

/* ------------------ss-4------------------- */

footer .ss-4 h6{
    color: var(--color-three);
} 

footer .container .row .ss-4 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 5rem;
}

footer .container .row .ss-4 .support{
    padding: 0;
    list-style-type: none;
    margin-top: 12px;

}
footer .container .row .ss-4 .support li a{
    color: var(--color-one);
    font-size: 14px;
    opacity: 0.7;
    text-decoration: none;
}
footer .container .row .ss-4 .support li a:hover, a:active{
    color: var(--color-three);
}
/* ---------------------ss-5--------------------- */
footer .container .row .ss-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 0.7rem;
}
footer .container .row .ss-5 .contact .social{
    color: var(--color-three);
    opacity: 1;
    padding: 0rem 0.5rem;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-size: 25px;
    transition: all 0.5s;
}
footer .container .row .ss-5 .contact .social:hover, .social:active{
    font-size: 35px;
}

footer .container .row .ss-5 .design{
    color: var(--color-one);
    opacity: 0.5;
    font-size: 14px;
    text-align: center;
}


/* RESPONSIVE */
@media (max-width: 991px){
    footer .col-md-6 .modify {
        justify-content: flex-start;  
        margin-left: 0.5rem;   
    }

    footer .container .row .ss-3 .payment-visa{
        width: 80px;
    }

    footer .container .row .ss-3,footer .container .row .ss-4{
        padding: 0 15px;
        margin-top: 2rem;
    }
    footer .container .row .ss-3 h6,footer .container .row .ss-4 h6{
        margin: 0;
    }
}

@media (max-width: 768px){
    footer .col-md-6 .modify {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    footer .container .row .ss-2{
        padding-top: 4rem;
        margin: 0;
        padding-left: 6rem;        
    }
    
    
     footer .container .row .ss-4{
        margin: 0;
        padding-top: 2rem;
        padding-left: 6rem;        

    }

    footer .container .row .ss-3{
        margin: 0;
        padding-bottom: 2rem;   
        padding-top: 3rem;
        padding-left: 6rem;        

    }

    footer .container .row .ss-3 .payment-visa{
        width: 70px;
    }
}

@media (max-width: 576px){

    footer .container .row .ss-2{
        padding-left: 5rem;
    }
    
    footer .container .row .ss-3, footer .container .row .ss-4{
        padding-left: 5rem;
    }

}